/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
  box-sizing: border-box;
}

body {
  background-color: black;
}

:root {
  --main-color: #040303;
  --second-color: #461111;
  --third-color: #a13333;
  --fourth-color: #b3541e;
  --text-color: #f2f2f2;
}
