.card {
  position: relative;
  margin: 30px auto;
  width: 240px;
}

.poster {
  width: 220px;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 0.4rem 0.4rem 0 0;
}

.card-text {
  font-size: 1.2rem;
  margin-left: 10px;
  font-weight: 600;
}