.container {
  display: grid;
  grid-template-columns: repeat(4, 25% [col-start]);
  height: auto;
  margin-top: 5vh;
  margin: 5vw auto;
}

@media only screen and (min-width: 608px) and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: auto;
  }
}

@media only screen and (max-width: 608px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
  }
}
