.container {
  display: grid;
  grid-template-columns: repeat(4, 25% [col-start]);
  height: auto;
  margin: 5vh auto;
}

@media only screen and (min-width: 608px) and (max-width: 1023px) {
  .container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
  }
}

.buttons {
  margin-left: 40vw;
}

.btn {
  margin-right: 2rem;
}
