<!-- Getting route information აქაა, რაცაა, ნუ აქ იწყება, მერე ვნახოთ -->
<h1>Angular Router App</h1>
<!-- this nav gives you links to click, which telss the
router which route ro use (defined in the routes constant in 
AppRoutingModule)-->
<nav>
  <li>
    <a
      routerLink="/first-component"
      routerLinkactive="active"
      ariaCurrentWhenActive="page"
    >
      First Component
    </a>
  </li>
  <li>
    <a
      routerLink="/second-component"
      routerLinkactive="active"
      ariaCurrentWhenActive="page"
    >
      Second Component
    </a>
  </li>
</nav>
<!-- როუტში გაწერილი კომპონენტები ამ ქვედა ჯიგარში ეშვება-->
<router-outlet></router-outlet>
